// Variables
$backgroundGradient: linear-gradient(45deg, #fd4970 30%, #f57631 90%);
//

a {
  text-decoration: none;
  color: #fff;
}
.navList {
  margin: 0 5px 0 5px !important;
}
.MuiAppBar-colorPrimary,
.MuiButton-containedPrimary,
.MuiAvatar-colorDefault {
  background: $backgroundGradient;
}

.alterBtnStyle {
  margin: 0 10px 0 10px !important;
}
.MuiButton-label {
  color: #fff;
}
.MuiTypography-h6 {
  padding: 0 0 0 15px;
}
.recovery_password__title {
  margin: 0 0 20px 0 !important;
}

.home,
.login,
.signUp,
.password-reset {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signUp_form__fields {
  display: flex;
  flex-direction: column;
}
.MuiFormControl-root {
  margin: 10px 0 10px 0 !important;
}
.linkAlterColor {
  color: #0c0c0c;
  &:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}
main {
  border-radius: 10px;
  box-shadow: 0px 0px 15px #0c0c0c25;
}
.txtAlterStyle {
  margin: 20px 0 20px 0 !important;
  padding: 0 !important;
}
.loginSignUpActive {
  background: $backgroundGradient;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
